In [1]:
nested = [['dog', 'cat', 'horse'], ['frog', 'turtle', 'snake', 'gecko'], ['hamster', 'gerbil', 'rat', 'ferret']]

In [3]:
nested[1][2]

'snake'

In [6]:

lst = [['apple', 'orange', 'banana'], [5, 6, 7, 8, 9.9, 10], ['green', 'yellow', 'purple', 'red']]

#Test to see if 'yellow' is in the third list of lst. Save to variable ``yellow``
yellow = 'yellow' in lst[2]

#Test to see if 4 is in the second list of lst. Save to variable ``four``
four = 4 in lst[1]

#Test to see if 'orange' is in the first element of lst. Save to variable ``orange``
orange = 'orange' in lst[0]

In [9]:
'orange' in lst[0]

True

In [11]:

L = [[5, 8, 7], ['hello', 'hi', 'hola'], [6.6, 1.54, 3.99], ['small', 'large']]

# Test if 'hola' is in the list L. Save to variable name test1
test1 = 'hola' in L[1]
# Test if [5, 8, 7] is in the list L. Save to variable name test2
test2 = [5, 8, 7] in L
# Test if 6.6 is in the third element of list L. Save to variable name test3
test3 = 6.6 in L[2]

True

In [17]:

nested = {'data': ['finding', 23, ['exercises', 'hangout', 34]], 'window': ['part', 'whole', [], 'sum', ['math', 'calculus', 'algebra', 'geometry', 'statistics',['physics', 'chemistry', 'biology']]]}

# Check to see if the string data is a key in nested, if it is, assign True to the variable data, otherwise assign False.
data = ('data' in nested.keys())
# Check to see if the integer 24 is in the value of the key data, if it is then assign to the variable twentyfour the value of True, otherwise False.
twentyfour = (24 in nested['data'])
# Check to see that the string 'whole' is not in the value of the key window. If it's not, then assign to the variable whole the value of True, otherwise False.
whole = ('whole' not in nested['window'])
# Check to see if the string 'physics' is a key in the dictionary nested. If it is, assign to the variable physics, the value of True, otherwise False.
physics = ('physics' in nested.keys())

True

In [22]:
'whole' not in nested['window']

False

In [15]:
nested

{'data': ['finding', 23, ['exercises', 'hangout', 34]],
 'window': ['part',
  'whole',
  [],
  'sum',
  ['math',
   'calculus',
   'algebra',
   'geometry',
   'statistics',
   ['physics', 'chemistry', 'biology']]]}

In [23]:
nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}

In [24]:
nested_d

{'Beijing': {'China': 51, 'USA': 36, 'Russia': 22, 'Great Britain': 19},
 'London': {'USA': 46, 'China': 38, 'Great Britain': 29, 'Russia': 22},
 'Rio': {'USA': 35, 'Great Britain': 22, 'China': 20, 'Germany': 13}}

In [25]:
nested_d['London']['Great Britain']

29

In [26]:

sports = {'swimming': ['butterfly', 'breaststroke', 'backstroke', 'freestyle'], 'diving': ['springboard', 'platform', 'synchronized'], 'track': ['sprint', 'distance', 'jumps', 'throws'], 'gymnastics': {'women':['vault', 'floor', 'uneven bars', 'balance beam'], 'men': ['vault', 'parallel bars', 'floor', 'rings']}}

# Assign the string 'backstroke' to the name v1
v1 = sports['swimming'][2]
# Assign the string 'platform' to the name v2
v2 = sports['diving'][1]
# Assign the list ['vault', 'floor', 'uneven bars', 'balance beam'] to the name v3
v3 = sports['gymnastics']['women']
# Assign the string 'rings' to the name v4
v4 = sports['gymnastics']['men'][3]

In [33]:
sports['gymnastics']['men'][3]

'rings'

In [35]:
nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}

US_count = [v['USA'] for v in nested_d.values()]
US_count

[36, 46, 35]

In [37]:
l_of_l = [['purple', 'mauve', 'blue'], ['red', 'maroon', 'blood orange', 'crimson'], ['sea green', 'cornflower', 'lavender', 'indigo'], ['yellow', 'amarillo', 'mac n cheese', 'golden rod']]
l_of_l

[['purple', 'mauve', 'blue'],
 ['red', 'maroon', 'blood orange', 'crimson'],
 ['sea green', 'cornflower', 'lavender', 'indigo'],
 ['yellow', 'amarillo', 'mac n cheese', 'golden rod']]

In [38]:
[l[2] for l in l_of_l]

['blue', 'blood orange', 'lavender', 'mac n cheese']

In [39]:
athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'], ['Felix', 'Bolt', 'Gardner', 'Eaton'], ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]
athletes

[['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'],
 ['Felix', 'Bolt', 'Gardner', 'Eaton'],
 ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]

In [41]:
t = []
other = []
for lst in athletes:
    for name in lst:
        if 't' in name:
            t.append(name)
        else:
            other.append(name)
print(t)
print(other)

['Lochte', 'Bolt', 'Eaton', 'Dalton']
['Phelps', 'Schooling', 'Ledecky', 'Franklin', 'Felix', 'Gardner', 'Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak']

In [44]:
import json
entertainment = """[{"Library Data": {"count": 3500, "rows": 10, "locations": 3}}, {"Movie Theater Data": {"count": 8, "rows": 25, "locations": 2}}]"""

In [54]:
json.loads(entertainment)

[{'Library Data': {'count': 3500, 'rows': 10, 'locations': 3}},
 {'Movie Theater Data': {'count': 8, 'rows': 25, 'locations': 2}}]